<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
    <label for="edit-name" class="js-form-required form-required">Text field</label>
      <input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true">

      </div>
