<div class="js-form-item form-item js-form-type-url form-type-url js-form-item-url-field form-item-url-field">
    <label for="edit-url-field">URL field</label>
    <input data-drupal-selector="edit-url-field" type="url" id="edit-url-field" name="url_field" value="" size="60" maxlength="255" class="form-url">
</div>
