<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkbox-field form-item-checkbox-field">
    <input data-drupal-selector="edit-checkbox-field" type="checkbox" id="edit-checkbox-field" name="checkbox_field" value="1" class="form-checkbox">
    <label for="edit-checkbox-field" class="option">Checkbox field</label>
</div>
