<div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email">
      <label for="edit-email" class="js-form-required form-required">Email field</label>
        <input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">

        </div>
