<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-text-field-with-placeholder form-item-text-field-with-placeholder">
<label for="edit-text-field-with-placeholder">Text field with placeholder</label>
<input data-drupal-selector="edit-text-field-with-placeholder" type="text" id="edit-text-field-with-placeholder" name="text_field_with_placeholder" value="" size="60" maxlength="255" placeholder="Text field placeholder" class="form-text">

</div>
