<fieldset data-drupal-selector="edit-checkboxes-field" id="edit-checkboxes-field--wrapper" class="checkboxes--wrapper fieldgroup form-composite webform-composite-visible-title js-webform-type-checkboxes webform-type-checkboxes js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
        <span class="fieldset-legend">Checkboxes field</span>
    </legend>

    <div class="fieldset-wrapper">
        <div id="edit-checkboxes-field" class="js-webform-checkboxes webform-options-display-one-column form-checkboxes">
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-field-yes form-item-checkboxes-field-yes">
                <input data-drupal-selector="edit-checkboxes-field-yes" type="checkbox" id="edit-checkboxes-field-yes" name="checkboxes_field[Yes]" value="Yes" class="form-checkbox">
                <label for="edit-checkboxes-field-yes" class="option">Yes</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-checkboxes-field-no form-item-checkboxes-field-no">
                <input data-drupal-selector="edit-checkboxes-field-no" type="checkbox" id="edit-checkboxes-field-no" name="checkboxes_field[No]" value="No" class="form-checkbox">
                <label for="edit-checkboxes-field-no" class="option">No</label>
            </div>
        </div>
    </div>
</fieldset>
