
<div class="container py-2xl">
    <h2>Grid 2/1</h2>
    <div class="grid">
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
        <div class="cell-2 md:cell-1">Cell</div>
    </div>
</div>



<div class="container py-2xl">
    <h2>Grid 2/6/3</h2>
    <div class="grid">
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
        <div class="cell-2 md:cell-6 lg:cell-3">Cell</div>
    </div>
</div>
