<h1>Heading 1: 'Lato'</h1>
<h2>Heading 2: 'Lato'</h2>
<h3>Heading 3: 'Lato'</h3>
<h4>Heading 4: 'Lato'</h4>
<h5>Heading 5: 'Lato'</h5>
<h6>Heading 6: 'Lato'</h6>

<p>
    A Paragraph: Open Sans: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui perspiciatis quam dignissimos, ducimus aliquid similique voluptatibus fugit, harum deserunt repudiandae molestiae sit quos. Sunt praesentium, magnam tempora a repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempora saepe asperiores consequatur totam, explicabo. Quas quidem officia, perferendis laboriosam accusantium nam, ipsa at assumenda labore natus facere, iste ipsam!
</p>
<p>
    Another Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui perspiciatis quam dignissimos, ducimus aliquid similique voluptatibus fugit, harum deserunt repudiandae molestiae sit quos. Sunt praesentium, magnam tempora a repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis tempora saepe asperiores consequatur totam, explicabo. Quas quidem officia, perferendis laboriosam accusantium nam, ipsa at assumenda labore natus facere, iste ipsam!
</p>

<p>
    Pargraph before list: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam maiores, et suscipit quaerat, deleniti ducimus nam reiciendis sed! Laudantium eius magnam similique modi architecto excepturi quibusdam! Magnam ut corporis ipsum.
</p>
<ul>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>
<p>Paragraph after list: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quia reprehenderit natus repudiandae delectus fugit aut autem quae itaque sit nostrum dicta doloremque porro at, explicabo veniam, doloribus consequatur quas?</p>

<h1>H1 and paragraph</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga atque ipsam accusantium fugiat ipsa, asperiores eveniet ex ipsum perferendis adipisci, consectetur quasi assumenda dolor inventore nobis doloremque ut non.</p>

<h2>H2 and paragraph</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga atque ipsam accusantium fugiat ipsa, asperiores eveniet ex ipsum perferendis adipisci, consectetur quasi assumenda dolor inventore nobis doloremque ut non.</p>

<h3>H3 and paragraph</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga atque ipsam accusantium fugiat ipsa, asperiores eveniet ex ipsum perferendis adipisci, consectetur quasi assumenda dolor inventore nobis doloremque ut non.</p>

<h3>H4 and paragraph</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit fuga atque ipsam accusantium fugiat ipsa, asperiores eveniet ex ipsum perferendis adipisci, consectetur quasi assumenda dolor inventore nobis doloremque ut non.</p>
