<section class="c-cards">
    <div class="container">
        <div class="c-cards__title">
            <h2>{{ title }}</h2>
        </div>
    </div>

    {% if cards %}
        <div class="c-cards__cards">
            <div class="container grid">
                {{ cards }}
            </div>
        </div>
    {% endif %}
</section>
