<div class="c-card">
    <a href="{{ link }}" class="c-card__link">
        <div class="c-card__main">
            <div class="c-card__image">
                {{ image }}
            </div>
        </div>
        <div class="c-card__footer">
            <h3 class="c-card__title">{{ title }}</h3>
            <div class="c-card__text">{{ text }}</div>
        </div>
    </a>
</div>
