<div class="c-header-top-bar">
    <div class="l-container">
        <div class="c-header-top-bar__content">
            {{ page.header_top_bar }}
        </div>

        <button class="c-header-top-bar__close">
            <span class="icon">
                <i class="fal fa-times"></i>
            </span>
        </button>
    </div>
</div>
