<header id="page-header" role="banner" class="c-header">

    {% if page.header_top_nav %}
        <div class="c-header-top">
            <div class="l-container">
                {{ page.header_top_nav }}
            </div>
        </div>
    {% endif %}

    <div class="c-header-main">
        <div class="l-container">
            <div class="c-header-main__brand">
                {% if page.header_brand %}
                    {{ page.header_brand }}
                {% endif %}
            </div>

            <div class="c-header-main__nav">
                {{ page.header_main_nav }}
            </div>
        </div>
    </div>
</header>
