@mixin button-commons() {
    display: inline-block;
    padding: remCalc(16) remCalc(22) remCalc(14) remCalc(22);
    border-radius: $border_radius_small;
    text-decoration: none;
    transition: $trans_linear;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    font-size: 1rem;
    border: none;
    width: 100%;

    @include mq(md) {
        width: auto;
    }

    &:hover {
        cursor: pointer;
    }
}



/*
  Standard/filled buttons
*/
.c-button {
    @include button-commons();
    background: $color_primary;
    color: $color_white;

    &:hover {
        background: $color_lime;
        color: $color_primary;
    }
}



/*
    Callout link
*/
.c-callout-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    position: relative;

    line-height: 1;
    color: $color_primary;
    transition: $trans_linear_fast;
    padding: 5px 21px 3px 0px;

    &:after {
        display: block;
        @include abs-vertical-center();
        right: 3px;
        font-family: $font_family_icons;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        content: fa-content($fa-var-chevron-right);
        transition: $trans_easeOutCubic_fast;
        color: $color_primary;
        font-size: 1rem;
    }

    &:hover {
        color: $color_secondary;
        transition: $trans_linear;

        &:after {
            color: $color_secondary;
            transition: $trans_easeOutCubic_fast;
            transform: translateY(-50%) translateX(3px);
        }
    }
}
