.c-carousel {
    @include py($space_l);

    @include mq(lg) {
        @include py($space_3xl);
    }



    &__items {
        position: relative;
    }



    &__link {
        @include scale-on-hover();
    }



    /* Swiper.js additional style */
    .swiper-pagination {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next{
        top: 100%;
    }

    .swiper-button-prev{
        right: 55px;
        left: auto;
    }

    .swiper-button-next{
        right: 15px;
    }
}
